p {
	color: #666666;
    font-family: 'Merriweather', Georgia, "Times New Roman", serif;
}

h1 {
    font-family: 'Merriweather Sans', sans-serif;
}

.italic {
	font-style: italic;
}

.pullquote {
	text-align: center;
	font-size: 2em;
}

.aboutme2 {
	font-weight: bold;
}

#nav {
  list-style-type: none;
  padding: 0;
	margin: 0;
	width: 100%;
}

#nav li {
  margin: 0;
  padding: 0;
}

#nav a:link, #nav a:visited {
  text-decoration: none;
  color: #ffffff;
  background-color: #7B68EE;
  font-weight: bold;
  text-align: center;
  display: block;
  text-decoration: none;
	text-align: center;
  font-family: Arial, 'Merriweather',"Times New Roman",Georgia, serif;
  padding: 15px
}

#nav a:hover, #nav a:active {
  background-color: #483D8B;
}

.caption {
  color: black;
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-size: 1em;
  margin-top: 0;
  text-align: right;
}


#title {
	background-color: pink;
	font-size: 3em;
	text-align: center;
	margin-top: 4px;
}

img {
  border: none;
	width: 100%;
}

#nav {
	display: flex;
	flex-flow: column;
}

#nav a {
	display: block;
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid black;
}

#nav li:last-of-type a {
  border-bottom: none;
}

.aboutme {
  display: flex;
  flex-flow: row wrap;
}

h1, article {
  flex: 1 100%;
}

#title {
	display: flex;
  justify-content: space-between;
}

#nav ul {
  display: flex;
  flex-flow: column;
}

.image img {
  /* visibility: hidden; */
  display: block;
}

.pullquote {
  display: block;
}

/* For the web */

/* @media screen and (min-width: 450px) {

  nav ul {
    flex-flow: row;
    justify-content: flex-start;
  }

} */

@media screen and (min-width: 600px) {

  .container {
      width: 90%;
  }

  .image img {
    display: block;
    width: 100%;
    margin-top: 0.5em;
  }

}

@media (min-width: 600px) {

#nav {
		flex-flow: row wrap;
		justify-content: flex-end;
	}

#nav a {
	text-align: center;
	padding: 10px;
	border: none;
	border-right: 2px solid black;
	border-top: 2px solid black;
}

#nav li:first-of-type a {
  border-left: 2px solid black;
}

#title {
	padding-top: 0;
	margin-top: 0px;
}

article {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
	flex: 3 0px;
}

.image {
  width: 80%;
  margin-left: 10px;
}

.aboutme {
  width: 80%;
	margin: auto;
}

}

@media screen and (min-width: 800px) {

  .item1 {
    justify-content: flex-start;
  }

  .pullquote {
    display: block;
  }

}

@media screen and (min-width: 1000px) {

  article {
    display: grid;
    grid-template-columns: 400px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
    "a b b"
    "c c e"
    "f d d";
	}

.section2 {
	grid-area: a;
}







  }





}
